/*Login css*/
.firebaseui-link {
  color: #b865ff;
}

.firebaseui-idp-button {
  direction: ltr;
  font-weight: 800;
  height: auto;
  line-height: normal;
  max-width: 277px;
  min-height: 52px;
  padding: 8px 28px;
  text-align: left;
  width: 100%;
  font-family: "Circular-Loom";
}


.text-danger {
  color: #e84272!important;
}

body {
  background: #141a1e;
  background-image: url(img_assets/background.jpeg);
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

button.connect {
    color: #fff;
    background: linear-gradient(45deg, #7e3acb, #1a7ab1);
    border: none;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 19px;
    min-width: 224px;
}

.right a {
    display: grid;
}

.signin_container {
  padding: 44px;
  margin: auto;
  display: table;
  border-radius: 7px;
  text-align-last: center;
  border: 6px solid #4d62bd;
  min-height: 426px;
  margin-top: 15%;
}

.mb-20 h3 > b {
  color: #46f8ce;
}
.firebaseui-tos {
  direction: ltr;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 24px;
  margin-top: 0;
  text-align: left;
}
.signin_container img {
  max-width: 272px;
}

.firebaseui-idp-button {
  border-radius: 30px;
  box-shadow: none;
  border: 1px solid #3333;
}

div#firebaseui-auth-container {
  margin: auto;
  display: table;
  border-radius: 7px;
}

.firebaseui-provider-sign-in-footer > .firebaseui-tos {
  text-align: center;
  opacity: 0.5;
}
.mb-20 {
  width: 100%;
  text-align: -webkit-center;
  color: #ffff;
  font-family: "Roboto";
  opacity: 0.5;
  max-width: 496px;
  margin: auto;
}

.bg-dark {
  background-color: #191828!important;
}

.text-divider {
  margin: 2em 0;
  line-height: 0;
  text-align: center;
}
.text-divider span {
  background-color: #201c37;
  padding: 1em;
  color: #7d79ef;
}
.text-divider:before {
  content: " ";
  display: block;
  border-top: 1px solid #212529;
  border-bottom: 1px solid #ab6ef463;
  width: 55%;
  margin: auto;
}





.headerlogo img {
  width: 125px;
}

.downloadicon img {
  min-width: 200px;
}

.herosection {
  margin-top: 3%;
}

.genderselect {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  grid-auto-rows: minmax(100px, auto);
}

.renderStylelist {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  grid-auto-rows: minmax(100px, auto);
}

.border-secondary {
  border-color: #424242 !important;
}

.main-container {
  background: #0c0d10;
  border-radius: 13px;
  border: 1px solid #5f6368;
}

.managebilling {
  background: linear-gradient(45deg, #224280, #50265f);
  color: #ffff;
  font-weight: 600;
  padding: 14px;
  margin: 30px auto;
  border-radius: 10px;
  width: fit-content;
}

.btn-outline-primary {
  color: #4193ff;
  border-color: #4784ffb3;
  font-weight: 600;
}

.mb-20 h3 > a {
  color: #0bffb8;
  border-bottom: 1px solid;
}

a {
  text-decoration: none;
  color: white;
}

.backgroundavatars {
  background-image: url("img_assets/backgroundavatars.png");
  background-size: cover;
  background-position: 50%;
}

.icon-list {
  padding-left: 0;
  list-style: none;
}

.rounded-pill {
  border-radius: 50rem !important;
  height: fit-content;
  margin: auto;
  padding: 8px;
}

.bg-primary {
  background: linear-gradient(45deg, #7e3acb, #1a7ab1) !important;
}

.bg-danger {
  background-color: #dc356d !important;
}

.suitedfor span {
  margin-right: 8px;
}

.text-primary {
  color: #b26cf3 !important;
}

.invitetoearn {
  margin-top: 25px;
  padding: 40px;
  font-size: 25px;
  font-weight: 600;
  color: #6a46c6;
  background: -webkit-linear-gradient(45deg, #a330ea, #e2730f 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Circular-Loom";
}

.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E")
      no-repeat center center / 100% auto;
}

ul#pills-tab {
  justify-content: center;
  gap: 4%;
  width: 100%;
}

.bg-lessdark {
  background: #1a1a1a;
}

.bg-lessdark input[type="checkbox"] {
  background: #424242;
  border: 1px solid hsl(0deg 0% 32%);
  width: 87%;
  margin: auto;
  margin-top: 14px;
  height: 5px;
}

.bg-lessdark.text-light label {
  color: #626262;
  font-family: "Circular-Loom";
  cursor: pointer;
}

.bg-lessdark.text-light.rounded:hover {
  box-shadow: 2px 3px 18px 7px #0f1316;
}

.genderselect > div:hover {
  box-shadow: 2px 3px 18px 7px #0f1316;
}

.bg-lessdark input:checked[type="checkbox"] {
  background: #ac58d7;
  border: 1px solid #cf5fff;
  box-shadow: 2px 14px 20px 4px #b366ff;
}

.form-check-input:checked {
  background-color: #7440c8;
  border-color: #7242c8;
}
.CompletedOrderContainer {
  display: none;
}
a {
  color: #0c78c8;
  text-decoration: none;
}

.categories {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 14px !important;
}

.nav-pills .nav-link {
  width: 195px;
  pointer-events: none;
}

.btn {
  white-space: nowrap;
}

.nomore {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: min-content;
}

.arrow_1,
.arrow_2 {
  filter: invert(1);
  max-width: 92px;
  opacity: 0.5;
}

.arrow_1 {
  transform: scaleX(-120%) rotate(598deg);
  width: 50px;
  margin-top: 22px;
  margin-bottom: 12px;
  margin-left: -25px;
}

.arrow_label {
  margin-top: 5px;
  margin-bottom: -41px;
  margin-left: 272px;
  font-family: "Caveat", cursive;
  font-size: 23px;
  color: #b26cf3;
}

.genderselect {
  justify-content: center;
}

.PriceColumn-button {
  background: linear-gradient(45deg, #7e3acb, #1a7ab1);
}

.genderselect div > img:hover {
  filter: none;
}

.genderselectActive {
  filter: none !important;
}

.changeStatusdiv , #MarkOrder{
  display: none;
}

.genderselect div > img {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #363636;
  padding: 13px;
  cursor: pointer;
  filter: grayscale(1);
}

label::before {
  background-image: url(../path/to/unchecked.png);
}

.suitedfor {
  margin-top: 6px;
  margin-bottom: 11px;
}

.suitedfor span {
  font-size: 11px;
  opacity: 0.4;
}

img.miniicon {
  width: 24px;
  margin-left: -10px;
  border: 1px solid #333333;
  overflow: hidden;
  border-radius: 100px;
  background: #333;
}

:checked + label::before {
  background-image: url(../path/to/checked.png);
}

.preview.text-secondary > div img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  margin: 11px;
}

.preview.text-secondary > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  grid-auto-rows: minmax(100px, auto);
}

.preview.text-secondary > div > span {
  border: 1px solid #333;
  background: #000;
  margin: 6px;
  display: grid;
  border-radius: 10px;
  font-size: 13px;
  padding: 12px;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: unset;
  vertical-align: 0.255em;
  content: ">";
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  color: #a7a7a7;
  border: none;
  font-size: 19px;
  font-family: cursive;
  -webkit-writing-mode: vertical-lr;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #b6a1f7;
  background-color: none !important;
  border-bottom: 4px solid #aa8ffd;
  background: none;
  filter: grayscale(0);
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
  color: #7b7b7b;
  filter: grayscale(1);
}

.step1234 {
  border: 3px solid #a85cf5;
  padding: 6px;
  margin: 0 9px;
  width: 50px;
  border-radius: 29px;
  text-decoration: none;
  color: #a85cf5;
  font-weight: 600;
}

.nav-pills .nav-link {
  width: 195px;
}

.btn-primary {
  color: #fff;
  background: linear-gradient(45deg, #7e3acb, #1a7ab1);
  border: none;
}

h1.text-center.text-light {
  font-size: 70px;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #ff50eb, #4193ff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  width: 90%;
}

span.dockup {
  background: #d83dff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 0 -57px;
  position: relative;
  font-size: 38px;
  top: -72px;
  left: 27px;
  width: 0;
  opacity: 0.9;
}

.sampleimg:hover {
}

.sampleimg {
  width: 92%;
  border-radius: 4px;
  margin: 8px;
  border: 12px solid #000;
}

.card .form-check-input {
  position: absolute;
  width: 24%;
  height: 16%;
  margin: 3%;
}

h1.text-center.text-light.mb-4 {
  font-size: 38px;
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
  h1.text-center.text-light {
      font-size: 45px;
  }
  span.dockup {
      background: #d83dff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0 0 0 -28px;
      position: relative;
      font-size: 19px;
      top: -30px;
      left: 13px;
      width: 0;
      opacity: 0.9;
  }

  .col-md-3.text-end {
      margin: 35px;
      margin-bottom: 13px;
      width: 40%;
  }

  .PricingTable.has-threeItems .PricingTable-grid {
      -ms-grid-columns: unset;
      grid-template-columns: auto;
      display: flex;
  }

  ul#pills-tab {
      display: -webkit-inline-box;
      flex-flow: column;
      gap: 14px;
      overflow: hidden;
      width: 100%;
  }
}

@media (max-width: 520px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
  h1.text-center.text-light {
      font-size: 38px;
      width: 100%;
  }

  .headline {
      margin-top: 51px;
  }
  .arrow_label {
      margin-left: -18px;
      margin-bottom: 4px;
  }

  .nomore {
      grid-template-columns: repeat(2, 1fr);
      display: none;
  }

  .categories {
      grid-template-columns: repeat(2, 1fr);
      gap: 14px !important;
  }

  .arrow_1 {
      transform: scaleX(-120%) rotate(657deg);
      margin-bottom: 20px;
  }

.headerlogo img {
    max-width: 186px;
}

  .herosection {
      margin-top: 31%;
  }

  .genderselect {
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
      grid-auto-rows: minmax(100px, auto);
  }

  .renderStylelist {
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
      grid-auto-rows: minmax(100px, auto);
  }

  .genderselect div > img {
      width: 100%;
      min-width: 63px;
      border-radius: 12px;
      padding: 7px;
  }

  .downloadicon img {
      min-width: 166px;
  }

  span.dockup {
      background: #d83dff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0 0 0 -28px;
      position: relative;
      font-size: 19px;
      top: -30px;
      left: 13px;
      width: 0;
      opacity: 0.9;
  }

  .PricingTable.has-threeItems .PricingTable-grid {
      -ms-grid-columns: unset;
      grid-template-columns: auto;
      display: flex;
  }

  .col-md-3.text-end {
      margin: 35px;
      margin-bottom: 13px;
      width: 100%;
  }

  .invitetoearn {
      margin-top: 25px;
      padding: 40px;
      font-size: 25px;
      font-weight: 600;
      color: #6a46c6;
      font-family: "Circular-Loom";
  }

  ul#pills-tab {
      display: flex;
      flex-flow: column;
      gap: 14px;
      overflow: hidden;
      width: 100%;
  }
}
